linkedin.example.com {
	encode gzip

	root * /opt/linkedin/current/UI/dist
	try_files {path} /index.html

	reverse_proxy /api/* http://127.0.0.1:3001

	log {
		output file /var/log/caddy/linkedin.log
	}
}
